:root {
  --primari-background-color: #fff;
  --second-background-color: #f4f4fd;
  --primari-text-color: #434455;
  --second-text-color: #2e2f42;
  --color-logo: #4d5ae5;
  --hover-color: #404bbf;
  --border: #e7e9fc;
  --border-advantages: #8e8f99;
  --footer-social-hover: #31d0aa;
  --form-background: #fcfcfc;
  --form-text: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primari-text-color);
  background-color: var(--primari-background-color);
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/** header **/

.section-header {
  border-bottom: 1px solid var(--border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: var(--color-logo);
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-color-header {
  color: var(--second-text-color);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  color: var(--second-text-color);
  font-weight: 500;
  padding: 24px 0;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  font-style: normal;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.header-contact {
  color: inherit;
  font-style: normal;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--hover-color);
}

.curent {
  color: var(--hover-color);
}

.curent::after {
  content: '';
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--hover-color);
  position: absolute;
}

/** Main **/

.section {
  padding: 120px 0;
}

.section-head-title {
  color: var(--second-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-title {
  color: var(--second-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

/** Section-hero **/

.section-hero {
  background-color: var(--second-text-color);
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--primari-background-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  color: var(--primari-background-color);
  background-color: var(--color-logo);
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: inherit;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}

/** Section-Advantages **/

.advantages {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-item-background {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--border-advantages);
  background: var(--second-background-color);
  margin-bottom: 8px;
  height: 112px;
}

/** Section-team **/

.team-background-color {
  background-color: var(--second-background-color);
}

.team-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card {
  background-color: var(--primari-background-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-text {
  padding: 32px 0;
  text-align: center;
}

.team-card-social-buttons {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-card-social-background {
  width: 40px;
  height: 40px;
}

.team-card-social-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-logo);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-social-button {
  fill: var(--second-background-color);
}

.team-card-social-item:hover,
.team-card-social-item:focus {
  background-color: var(--hover-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** Section-portfolio **/

.portfolio-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  padding: 40px 32px;
  color: var(--second-background-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-text {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid var(--border);
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translateY(0%);
}

.portfolio-card:focus,
.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/** Footer **/

.footer-background {
  background-color: var(--second-text-color);
  padding: 100px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-color-footer {
  color: var(--second-background-color);
}

.footer-text {
  color: var(--second-background-color);
  width: 264px;
}

.footer-social-text {
  font-weight: 500;
  color: var(--primari-background-color);
  margin-bottom: 16px;
}

.team-card-social-buttons-footer {
  gap: 16px;
}

.team-card-social-item-footer:hover,
.team-card-social-item-footer:focus {
  background-color: var(--footer-social-hover);
}

/* FOOTER-FORM */

.footer-form-text {
  color: var(--primari-background-color);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-form-input {
  display: flex;
  gap: 24px;
}

.footer-form-email {
  color: var(--primari-background-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--primari-background-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-email::placeholder {
  color: var(--primari-background-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-form-email:focus {
  border-color: var(--footer-social-hover);
  outline: transparent;
}

.footer-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primari-background-color);
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--color-logo);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button-icon {
  fill: var(--primari-background-color);
  margin-left: 16px;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--footer-social-hover);
}

/* form */

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  background-color: var(--form-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-close {
  border-radius: 50%;
  background-color: var(--border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--second-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-close:hover,
.form-button-close:focus {
  background-color: var(--hover-color);
  fill: var(--primari-background-color);
  border: none;
}

.contact-form-title {
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.contact-form-wrapper {
  margin-bottom: 8px;
}

.contact-form-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--form-text);
  width: 100%;
  display: block;
  margin-bottom: 4px;
}

.contact-form-imput-wrapper {
  position: relative;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 4px;
  background-color: transparent;
  outline: transparent;
}

.contact-form-input:focus {
  border-color: var(--color-logo);
}

.contact-form-icon {
  fill: var(--second-text-color);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--color-logo);
}

.contact-form-comment {
  margin-bottom: 16px;
}

.contact-form-textarea {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 16px;
  background-color: transparent;
  outline: transparent;
}

.contact-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.contact-form-textarea:focus {
  border-color: var(--color-logo);
}

.contact-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.contact-form-checkbox-accept {
  color: var(--border-advantages);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contact-form-privacy-link {
  color: var(--color-logo);
}

.contact-form-own-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-accept
  > .contact-form-own-checkbox {
  background-color: var(--hover-color);
  fill: var(--second-background-color);
  border: none;
}

.contact-form-checkbox:focus
  + .contact-form-checkbox-accept
  > .contact-form-own-checkbox {
  border-color: var(--color-logo);
}

.contact-form-button-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: var(--color-logo);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primari-background-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-button-submit:hover,
.contact-form-button-submit:focus {
  background-color: var(--hover-color);
}
